@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family:'Work Sans';
    margin: 0;
    padding: 0;

}
footer{
    background-color:rgb(170, 36, 36) ;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;

    }

#rodape1{
font-family:'Work Sans' ;
}

#rodape2{
font-family: 'Work Sans';
}

#rodape3{
font-family: 'Work Sans';
}
nav ul{
    list-style: none;
    background-color: blue;
    text-align: center;
    height: 40px;
    padding: 30px;
}
nav li{
    display: inline;
    margin: 10px;
    
}

#cima li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    
}
.formcadastro{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    
}
body{
    background-image: linear-gradient(to bottom right, #3e5eb4 30%, #b31111 80%);
    background-repeat: no-repeat;
    height: 50em;
}